html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

canvas {
  display: block;
  border: 10px solid black;
}
select{
  border:2px solid black;
  height: 50px;
  width: 100px;
  background: white;
  color: black;
  text-align: center;
  margin-top: 20px;
}
